.features{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: 1070px){
    padding: 80px 15px 80px;
    max-width: 1170px;
    text-align: start;
    margin:0 auto;
    grid-template-columns: repeat(2, 1fr) ;
  }

  &__img{
    display: none;
    @media (min-width: 1070px){
      margin-left: 40px;
      display: block;
      grid-column: 2/3;
      grid-row: 1/7;
      background: url("/img/iphone7.png") no-repeat;
    }
  }

  &__title{
    padding-top: 32px;
    font-family: $OpenSans;
    font-size: 18px;
    line-height: 0.75em;
    font-weight: 400;
    color: #585b60;

    @media (min-width: 1070px){
      position: relative;
      padding: 0 0 0 41px;
      line-height: 1.33em;
    }

    &:hover{
      color: #00bfa5;
    }
  }

  &__text{
    padding-top: 17px;
    padding-bottom: 35px;
    font-family: $OpenSans;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
    color: #9da6ac;
    @media (min-width: 1070px){
      padding-top: 13px;
      padding-left: 41px;
      padding-bottom: 28px;
      line-height: 1.7em;
    }
  }
}

.check__input{
  width: 0;
  height: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);

  &:checked + .check__box{
    background-color: #00bfa5;
  }
  &:active + .check__box{
    transform: translateY(3px);
  }
}

.check__box{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #00bfa5;

  @media (min-width: 1070px){
    margin-top: 20px;
    width: 20px;
    height: 20px;
  }

}

.title{
  padding-top: 60px;
  padding-bottom: 24px;
  font-family: $OpenSans;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #585b60;
    @media (min-width: 1070px){
      padding-top: 80px;
      padding-bottom: 36px;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 600;
  }
  &__features{
    @media (min-width: 1070px){
      padding-top: 40px;
    }
  }

  &__description{
    padding-bottom: 35px;
    font-family: $OpenSans;
    font-size: 18px;
    line-height: 1.444em;
    font-weight: 400;
    color: #9da6ac;
    @media (min-width: 1070px) {
      padding-bottom: 70px;
      max-width: 450px;
      font-size: 22px;
    }
  }
}

