.features{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  text-align: center;

  &__title{
    padding-top: 32px;
    font-family: $OpenSans;
    font-size: 18px;
    line-height: 0.75em;
    font-weight: 400;
    color: #585b60;

    &:hover{
      color: #00bfa5;
    }


  }
  &__text{
    padding-top: 17px;
    padding-bottom: 35px;
    font-family: $OpenSans;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
    color: #9da6ac;
  }
}



.check__input{
  width: 0;
  height: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);

&:checked + .check__box{
  background-color: #00bfa5;
}
}
.check__box{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #00bfa5;}

.title{
  padding-top: 60px;
  padding-bottom: 24px;
  font-family: $OpenSans;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #585b60;

  &__description{
    padding-bottom: 35px;
    font-family: $OpenSans;
    font-size: 18px;
    line-height: 1.444em;
    font-weight: 400;
    color: #9da6ac;
  }}