.honor {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  background: #F7F7F7;
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }

  &__item {
    max-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-number {
      padding-top: 55px;
      font-family: $Oswald;
      font-weight: 500;
      font-size: 72px;
      line-height: 1.4em;
      text-align: center;
      text-transform: uppercase;
      color: #F7654A;
    }

    &-text {
      padding-top: 8px;
      font-family: $Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.4em;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
    }

    &-description {
      padding: 6px 0 55px;
      font-family: $Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.4em;
      text-align: center;
      color: #999999;
    }
  }
}

@media (max-width: 1149px) {
  .honor__item-number {
    font-size: calc(25px + 47 * (100vw / 1150));
  }
  .honor__item-text {
    font-size: calc(16px + 20 * (100vw / 1150));
  }
  .honor__item-description {
    font-size: calc(12px + 3 * (100vw / 1150));
  }
}