.media{
  background-color: #e5eaed ;
}

.video {
  margin: 0 auto;
  max-width: 1140px;

  @media (min-width: 376px){
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__content{
    width: 100%;
    object-fit: cover;
  }
}

