.media{
  display: block;
  max-width: 375px;
  margin:0 auto;
  background-color: #e5eaed ;

  &__video{
    margin:0 auto;
    width: 100%;
    object-fit: cover;

    @media (min-width: 357px){
      max-width: 1140px;
    }

  }

  @media (min-width: 357px){
    max-width: 1140px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

}