.partners {
  width: 100%;
  background: #404149;

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      padding-top: 100px;
      font-family: $Oswald;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.472em;
      text-transform: uppercase;
      color: #FFFFFF;

      @media (max-width: 1149px) {
        & {
          font-size: calc(10px + 26 * (100vw / 1150));
          padding-top: calc(10px + 90 * (100vw / 1150));
        }
      }
    }

    &-img {
      max-width: 1150px;
      padding: 60px 20px 100px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 64px;

      @media (max-width: 787px) {
        & {
          grid-template-columns: 1fr;
          grid-gap: 10px;
        }
      }
    }
  }
}



