.project {
  padding-top: 100px;
  padding-bottom: 130px;

  @media (max-width: 1149px) {
    & {
      padding-top: calc(10px + 90 * (100vw / 1150));
      padding-bottom: calc(20px + 110 * (100vw / 1150));
    }
  }

  &__title {
    padding-bottom: 30px;
    font-family: $Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.472em;
    text-align: center;
    text-transform: uppercase;
    color: #404149;

    @media (max-width: 1149px) {
      &{
        font-size: calc(10px + 26 * (100vw / 1150));
        padding-bottom: calc(10px + 20 * (100vw / 1150));
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2.7%;

       @media (max-width: 576px) {
      & {
        grid-template-columns:  1fr;
        grid-gap: 0;
      }
    }

    &-img {
      width: 100%;
      padding-top: 30px;
      object-fit: cover;
    }

    &-title {
      padding-top: 45px;
      font-family: $Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.5em;
      color: #404149;

      &:before {
        content: '';
        width: 55px;
        height: 6px;
        margin-bottom: 15px;
        background: #F7654A;
        display: block;
      }
    }

    &-text {
      padding-top: 20px;
      font-family: $OpenSans;
      font-size: 16px;
      line-height: 1.375em;
      color: #999999;
    }
  }
}
