.question {
  max-width: 1150px;
  padding: 150px 20px 150px;
  margin: 0 auto;

  @media (max-width: 1149px) {
    & {
      padding: calc(10px + 140 * (100vw / 1150)) 20px calc(40px + 110 * (100vw / 1150)) ;
    }
  }

  &__title {
    text-align: center;
    padding-bottom: 50px;
    font-family: $Oswald;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.472em;
    text-transform: uppercase;
    color: #000000;

    @media (max-width: 1149px) {
      & {
        font-size: calc(18px + 18 * (100vw / 1150));
        padding-bottom: calc(10px + 40 * (100vw / 1150));
      }
    }
  }

  &__item {
    font-family: $Oswald;
    padding: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;
    color: #F7654A;

    @media (max-width: 1149px) {
      & {
        font-size: calc(14px + 10 * (100vw / 1150));
      }
    }

    &:hover {
      color: #964331;
    }

    & p, & [type="checkbox"] {
      display: none;
    }

    & [type="checkbox"]:checked ~ p {
      display: block;
    }

    & label {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
    }

    &-triangle {
      width: 0;
      height: 0;
      margin-right: 15px;
      border-top: 7px solid transparent;
      border-left: 15px solid #F7654A;
      border-bottom: 7px solid transparent;
    }

    &-text {
      max-width: 730px;
      padding-top: 30px;
      font-family: $OpenSans;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.375em;
      color: #999999;

      @media (max-width: 1149px) {
        & {
          font-size: calc(12px + 4 * (100vw / 1150));
        }
      }
    }
  }
}



