.request {
  width: 100%;
  background: #f7654a;

  &__item {
    max-width: 1150px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-title {
    padding-top: 10px;
    font-family: $Oswald;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.479em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  &__block-text {
    padding-bottom: 25px;
    font-family: $Oswald;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  &__button {
    width: 175px;
    height: 49px;
    margin: 20px;
    font-family: $Oswald;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transition-duration: 0.4s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.6);
      transform: translateY(8px);
  }
  }

  &__button-img {
    padding-right: 15px;
  }
}


@media (max-width: 1149px) {
  .request__block-title {
    font-size: calc(16px + 32 * (100vw / 1150));
  }
  .request__block-text {
    font-size: calc(14px + 10 * (100vw / 1150));
  }
 }


@media (max-width: 480px) {
  .request__item {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}