.reviews {
  width: 1110px;
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.reviews__title {
  padding-bottom: 64px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  grid-column: 1/4;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.reviews__item {
  max-width: 350px;
}
.reviews__item-text {
  padding: 30px 30px 38px 30px;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}
.reviews__item-text:before {
  content: "“";
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #F7654A;
  display: block;
}
.reviews__item-name{
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
}
.reviews__item-from{
  color:  #F7654A;
}