.services {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  &__title {
    padding-top: 150px;
    text-align: center;
    font-family: $Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.472em;
    text-transform: uppercase;
    color: #000000;

    @media (max-width: 1149px) {
      & {
        font-size: calc(10px + 26 * (100vw / 1150));
        padding-top: calc(20px + 130 * (100vw / 1150));
      }
    }
  }

  &__item {
    padding-top: 66px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    grid-gap: 30px;

    @media (max-width: 1149px) {
      & {
        padding-top: calc(10px + 56 * (100vw / 1150));
        padding-bottom: calc(10px + 140 * (100vw / 1150));
      }
    }

    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #F7F7F7;

      &--img {
        padding: 59px 0 30px;
      }

      &--text {
        padding-bottom: 30px;
        font-family: $Oswald;
        font-weight: 500;
        font-size: 21px;
        line-height: 1.476em;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }
  }
}


