* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #464646;
  font-family: $Oswald;
  font-size: 14px;
  width: 100%;

  @include min-width(sm) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.contain {
  max-width: 1150px;
  margin: auto;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 0;
}



